{% extends 'layout.html' %}

{% block title %}
{{ "Evaluation Types" }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active" aria-current="page">أنواع التقيمات</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="de-card">
            <table class="table table-hover">
                <thead class="">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">الاسم</th>
                        <th scope="col" class="text-center">الرمز</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for evaluation_type in evaluation_types %}
                        <tr>
                            <td scope="row">{{ forloop.counter }}</td>
                            <td>{{ evaluation_type.name }}</td>
                            <td class="text-center">{{ evaluation_type.code }}</td>
                            <td class="text-left">
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-light btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        تحرير
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <a class="dropdown-item" href="{% url 'plants:edit_evaluationtype' pk=evaluation_type.pk %}">نحرير</a>
                                        <a class="dropdown-item" href="{% url 'plants:delete_evaluationtype' pk=evaluation_type.pk %}">حذف</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
