{% extends 'layout.html' %}
{% block title %}حذف فترة{% endblock %}

{% block breadcrumb %}

    <li class="breadcrumb-item"><a href="{% url 'plants:get_report' %}">تقارير</a></li>
    <li class="breadcrumb-item active" aria-current="page">حذف فترة زمنية</li>
{% endblock %}  

{% block content %} 
<div class="row">
    <div class="col-md-12">   
        <div class="de-card">
            <h6 class="mb-3 text-right font-weight-bold">تأكيد حذف فترة زمنية</h6>
            <form action="{% url 'plants:delete_interval' %}" method="post" class="mb-0">
                {% csrf_token %}
                <input type="hidden" name="fdate" value="{{ request.GET.fdate }}">
                <input type="hidden" name="tdate" value="{{ request.GET.tdate }}">
                <input type="hidden" name="place" value="{{ request.GET.place }}">
                <input type="hidden" name="evaluation_type" value="{{ request.GET.evaluation_type }}">
                <input type="hidden" name="major" value="{{ request.GET.major }}">
                <input type="submit" class="btn btn-danger btn-sm float-right" value="حذف">
                <a href="{% url 'plants:get_report' %}" class="btn btn-light btn-sm float-right mx-2">تراجع</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}