{% extends 'layout.html' %}
{% block title %}Delete {{ place.ar_name }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'plants:list_place' %}">Places</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ place.ar_name }}</li>
{% endblock %} 

{% block content %}
<div class="row">
    <div class="col-md-12">   
        <div class="de-card">
            <h6 class="mb-3">Are you sure you want to delete <b>{{ place.ar_name }}</b>?</h6>
            <form action="{% url 'plants:delete_place' pk=place.pk %}" method="post" class="mb-0">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                <a href="{% url 'plants:list_place' %}" class="btn btn-warning btn-sm">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}